.card-main{
    width: 80%;
    margin: 0 auto;
}
.grid-container{
    text-align: center;
    overflow: auto;
}
.row-style{
   margin-bottom: 0; 
   padding-left: 0;
}
.cell-style{
    border:1px dotted rgb(199, 199, 199);
    padding: 0 10px;
    display:inline;
    cursor: pointer;
}

.cell-label{
    text-align:center;
}

.cell-total-label{
    font-weight: bold; 
    font-size: 1.5em
    
}

.cell-empty{
    background-color: #5be3ff   
    
}

.cell-empty-label{
    color:#49b5cb;
    margin-bottom: .5rem;
}

.cell-filled{
    background-color:peru;
}
.cell-filled-label{
    color:peru;
    margin-bottom: .5rem;
}

